* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.section1, .section2, .section3 {
    position: relative;
    margin: 5px;
    padding: 10px;
    padding-top: 20px;
    border: 1px solid black;
}

.section1 {
    background-color: #007bff; /* Blue */
}

.section2 {
    background-color: #ff0; /* Yellow */
}

.section3 {
    background-color: #f00; /* Red */
}

@media (min-width: 992px) {
    .section {
        width: 25%;
        display: inline-flex;
        padding: 15px;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        display: block;
        margin: 5px;
        padding: 5px;
    }
    .section1, .section2 {
        width: 45%;
        display: inline-flex;
        margin: 2px;
    }
    .section3 {
        width: 91%;
    }
}

@media (max-width: 767px) {
    .container {
        display: block;
    }
}

.title1, .title2, .title3 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding-inline: 20px;
    font-weight: 850;
    font-size: large;
    border: 1px solid black;
}

.title1 {
    background-color: #007bff; /* Blue */
}

.title2 {
    background-color: #ff0; /* Yellow */
}

.title3 {
    background-color: #f00; /* Red */
}
